In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
students = pd.read_csv("../Datasets/students.csv")
print(students.shape)
students

(10933, 24)

,Matricule,Annee_academique,Niveau,Cursus,Filiere,Age,Annee_naissance,Genre,Distance_domicile_ecole,Travaille,...,Moyenne_S1,Moyenne_S2,Moyenne_annuelle,Nb_matieres_validees,Nb_credits_obtenus,Nb_matieres_non_validees,Nb_heures_cours_total,Nb_heures_presence,Nb_projets,Reussite
0,20G21802,2020/2021,1,ING,Tronc_commun,18,2002,F,<5km,OUI,...,12.04,12.38,12.21,18,54,2,420,350,3,1
1,20G38199,2020/2021,1,ING,Tronc_commun,19,2001,F,<5km,NON,...,16.06,16.13,16.09,19,57,1,420,372,3,1
2,20G16624,2020/2021,1,ING,Tronc_commun,18,2002,F,>15km,NON,...,12.15,11.70,11.92,18,54,2,420,330,3,1
3,20G95755,2020/2021,1,ING,Tronc_commun,19,2001,F,5-15km,NON,...,10.28,10.94,10.61,18,54,2,420,398,3,1
4,20G80345,2020/2021,1,ING,Tronc_commun,17,2003,M,5-15km,NON,...,15.61,14.88,15.24,18,54,2,420,383,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10928,24G22183,2024/2025,3,SCI ING,CIBI,21,2003,F,5-15km,NON,...,9.81,12.96,11.38,20,60,0,420,384,4,1
10929,24G80829,2024/2025,3,SCI ING,SDIA,21,2003,M,<5km,OUI,...,14.16,15.23,14.70,20,60,0,410,239,5,1
10930,24G25868,2024/2025,3,SCI ING,GEE,22,2002,M,<5km,OUI,...,13.81,13.16,13.49,20,60,0,425,311,4,1
10931,24G90419,2024/2025,3,SCI ING,EEAT,21,2003,M,>15km,NON,...,15.56,15.24,15.40,19,57,1,420,404,4,1
10932,24G97398,2024/2025,3,SCI ING,Energie,22,2002,F,<5km,NON,...,14.26,12.89,13.57,19,57,1,430,420,4,1

In [ ]:
np.unique (students["Distance_domicile_ecole"])

array(['5-15km', '<5km', '>15km'], dtype=object)

In [ ]:
# features ingeneering 

students["Taux_presence"] = students["Nb_heures_presence"]/students["Nb_heures_cours_total"]   # Ajout de la colonne ratio
students["Genre"] = students["Genre"] == "M"       # Dans Genre change M en True et F en False sachant que true =1 et False =0 car mon model ne travaille qu'avec des numeriques
students["Travaille"] = students["Travaille"] == "oui"   # Dans Travaille change oui en True eu non en False pour les même raisons qu'en haut 


distance_idx = []
for distance in students["Distance_domicile_ecole"] : 
    if distance == "<5km" :
        distance_idx.append(1)
    elif distance == "5-15km" :
        distance_idx.append(2)
    else :
        distance_idx.append(3)

students["Distance_domicile_ecole"] = distance_idx

students_base = students.drop(["Nb_heures_presence","Nb_heures_cours_total","Reussite"],axis = 1)
students_base["Reussite"] = students["Reussite"]

In [36]:
students_base

,Matricule,Annee_academique,Niveau,Cursus,Filiere,Age,Annee_naissance,Genre,Distance_domicile_ecole,Travaille,...,Note_moy_SN_S2,Moyenne_S1,Moyenne_S2,Moyenne_annuelle,Nb_matieres_validees,Nb_credits_obtenus,Nb_matieres_non_validees,Nb_projets,Taux_presence,Reussite
0,20G21802,2020/2021,1,ING,Tronc_commun,18,2002,False,1,False,...,12.40,12.04,12.38,12.21,18,54,2,3,0.833333,1
1,20G38199,2020/2021,1,ING,Tronc_commun,19,2001,False,1,False,...,15.50,16.06,16.13,16.09,19,57,1,3,0.885714,1
2,20G16624,2020/2021,1,ING,Tronc_commun,18,2002,False,3,False,...,12.37,12.15,11.70,11.92,18,54,2,3,0.785714,1
3,20G95755,2020/2021,1,ING,Tronc_commun,19,2001,False,2,False,...,11.04,10.28,10.94,10.61,18,54,2,3,0.947619,1
4,20G80345,2020/2021,1,ING,Tronc_commun,17,2003,False,2,False,...,14.70,15.61,14.88,15.24,18,54,2,3,0.911905,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10928,24G22183,2024/2025,3,SCI ING,CIBI,21,2003,False,2,False,...,13.28,9.81,12.96,11.38,20,60,0,4,0.914286,1
10929,24G80829,2024/2025,3,SCI ING,SDIA,21,2003,False,1,False,...,15.42,14.16,15.23,14.70,20,60,0,5,0.582927,1
10930,24G25868,2024/2025,3,SCI ING,GEE,22,2002,False,1,False,...,12.66,13.81,13.16,13.49,20,60,0,4,0.731765,1
10931,24G90419,2024/2025,3,SCI ING,EEAT,21,2003,False,3,False,...,16.23,15.56,15.24,15.40,19,57,1,4,0.961905,1
10932,24G97398,2024/2025,3,SCI ING,Energie,22,2002,False,1,False,...,12.93,14.26,12.89,13.57,19,57,1,4,0.976744,1

In [ ]:
students_base.to_csv ("../Datasets/students_data.csv", index = False)

In [2]:
import sys

chemin_projet = r"..\Models\explication des performances"    # chemin jusqu'au dossier contenant le fichier
sys.path.insert(0, chemin_projet)

from DBSCAN import DBSCAN

In [3]:
students_base = pd.read_csv ("../Datasets/students_data.csv")
students_base

,Matricule,Annee_academique,Niveau,Cursus,Filiere,Age,Annee_naissance,Genre,Distance_domicile_ecole,Travaille,...,Note_moy_SN_S2,Moyenne_S1,Moyenne_S2,Moyenne_annuelle,Nb_matieres_validees,Nb_credits_obtenus,Nb_matieres_non_validees,Nb_projets,Taux_presence,Reussite
0,20G21802,2020/2021,1,ING,Tronc_commun,18,2002,False,1,False,...,12.40,12.04,12.38,12.21,18,54,2,3,0.833333,1
1,20G38199,2020/2021,1,ING,Tronc_commun,19,2001,False,1,False,...,15.50,16.06,16.13,16.09,19,57,1,3,0.885714,1
2,20G16624,2020/2021,1,ING,Tronc_commun,18,2002,False,3,False,...,12.37,12.15,11.70,11.92,18,54,2,3,0.785714,1
3,20G95755,2020/2021,1,ING,Tronc_commun,19,2001,False,2,False,...,11.04,10.28,10.94,10.61,18,54,2,3,0.947619,1
4,20G80345,2020/2021,1,ING,Tronc_commun,17,2003,False,2,False,...,14.70,15.61,14.88,15.24,18,54,2,3,0.911905,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10928,24G22183,2024/2025,3,SCI ING,CIBI,21,2003,False,2,False,...,13.28,9.81,12.96,11.38,20,60,0,4,0.914286,1
10929,24G80829,2024/2025,3,SCI ING,SDIA,21,2003,False,1,False,...,15.42,14.16,15.23,14.70,20,60,0,5,0.582927,1
10930,24G25868,2024/2025,3,SCI ING,GEE,22,2002,False,1,False,...,12.66,13.81,13.16,13.49,20,60,0,4,0.731765,1
10931,24G90419,2024/2025,3,SCI ING,EEAT,21,2003,False,3,False,...,16.23,15.56,15.24,15.40,19,57,1,4,0.961905,1
10932,24G97398,2024/2025,3,SCI ING,Energie,22,2002,False,1,False,...,12.93,14.26,12.89,13.57,19,57,1,4,0.976744,1

In [4]:
X = students_base[["Distance_domicile_ecole","Travaille","Taux_presence","Nb_projets","Moyenne_annuelle"]]
X

,Distance_domicile_ecole,Travaille,Taux_presence,Nb_projets,Moyenne_annuelle
0,1,False,0.833333,3,12.21
1,1,False,0.885714,3,16.09
2,3,False,0.785714,3,11.92
3,2,False,0.947619,3,10.61
4,2,False,0.911905,3,15.24
...,...,...,...,...,...
10928,2,False,0.914286,4,11.38
10929,1,False,0.582927,5,14.70
10930,1,False,0.731765,4,13.49
10931,3,False,0.961905,4,15.40
10932,1,False,0.976744,4,13.57

In [5]:
indices = np.random.permutation(len(X))
split = int(0.8*len(X))
X_train = X.iloc[indices[:split]]
X_test = X.iloc[indices[split:]]

In [6]:
model = DBSCAN(eps=0.5)
model.fit(X_train)

In [7]:
np.unique(model.labels_)

array([-1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])